.ghprj-container {
  display: flex;
  height: 800px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  background-color: rgb(0, 0, 0);
}

.ghprj-main-container {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

.ghprj-item-container {
  display: block;
  align-items: center;
  position: relative;
  margin-top: 100px;
}

.ghprj-ss-container {
  margin-top: 80px;
  position: relative;
  width: 800px;
  padding: 15px;
  background-color: rgb(0, 0, 0);
}

.ghprj-ss-container img {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0;
}

.ghprj-text-container {
  padding: 0px;
  width: 400px;
  display: block;
  justify-content: center;
}

.ghprj-description {
  text-align: start;
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "__Public_Sans_f258fb", "__Public_Sans_Fallback_f258fb",
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #637381;
  margin-bottom: 40px;
  margin-top: 40px;
}

.ghprj-title {
  margin: 0;
  margin-top: 40px;
}

.ghprj-text-container h1 {
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 44px;
  width: 300px;
  text-align: start;
  margin: 0;
  margin-top: 10px;
  color: white;
}

.ghprj-button-container {
  display: flex;
  align-items: start;
  margin-top: 10px;
  padding: 0px;
}

.ghprj-button {
  text-transform: capitalize;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
  border-radius: 8px;
  border-color: rgb(185, 185, 185);
  background-color: transparent;
  border-width: 1px;
  border-style: groove;
  cursor: pointer;
  color: white;
}

.ghprj-button:hover {
  border-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px 0px rgb(255, 255, 255);
}

@media (max-width: 1000px) {
  .ghprj-container {
    height: auto;
    margin-bottom: 150px;
  }

  .ghprj-main-container {
    margin-right: 24px;
    margin-left: 24px;
    display: block;
  }

  .ghprj-ss-container {
    width: 80vw;
  }

  .ghprj-text-container {
    margin: 0 auto;
    justify-content: center;
    width: 70vw;
  }
  .ghprj-text-container h1 {
    text-align: center;
  }

  .ghprj-title {
    margin: 0 auto;
  }
  .ghprj-title h1 {
    margin: 0 auto;
  }

  .ghprj-description {
    text-align: center;
  }

  .ghprj-button-container {
    margin-bottom: 100px;
  }

  .ghprj-button-nav {
    margin: 0 auto;
  }

  .ghprj-ss-container {
    align-items: center;
    margin: 0 auto;
  }
}
